AuthorizedKeysCommand /bin/sh /usr/local/sbin/authorized-keys-lookup
AuthorizedKeysCommandUser jumphost
ForceCommand /usr/local/sbin/router
PermitTTY yes
AllowTcpForwarding yes
PermitUserEnvironment yes
AllowUsers jumphost
PasswordAuthentication no